<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uploaded Files</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="masthead">
        <h3 class="text-muted">Bluemix cloudant example</h3>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="nav nav-justified">
                <li><a href="/">Upload</a></li>
                <li><a href="/uploads">View Uploaded Files</a></li>
                <li><a href="/download">Download</a></li>
                <li><a href="/delete_file">Delete File</a></li>
            </ul>
        </nav>
    </div>
    <div class="jumbotron">
        <h1 class="text-center">Uploaded Files</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <h2 class="text-center">File Name</h2>
            {% for item in data_dict %}
            <p class="text-center">
                {{ item["name"] }}
            </p>
            {% endfor %}
        </div>
        <div class="col-lg-3">
            <h2 class="text-center">File Size</h2>
            {% for item in data_dict %}
            <p class="text-center">
                {{ item["size"] }}
            </p>
            {% endfor %}
        </div>
        <div class="col-lg-3">
            <h2 class="text-center">Version</h2>
                {% for item in data_dict %}
                <p class="text-center">
                    {{ item["version"] }}
                </p>
                {% endfor %}
        </div>
    </div>
</div>
</body>
</html>